#photos {
  margin-top: 2rem;

  & img {
    width: 100%;
  }
}

@media (width >= 80em) {
  #photos {
    margin-top: 2rem;

    & > div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
    }
  }
}
